{% extends '::base.html.twig' %}
{% block body %}
<h2>All Categories: </h2>

<select>
    {% for oneCategory in category%}
        <option><p>Id: {{ oneCategory.id }} {{ oneCategory.name }}</p></option>
    {% endfor %}
</select>
<h2>Menu</h2>
<a href="{{ path('main')}}" class="btn btn-primary btn" role="button">Home</a>
<a href="{{ path('admin')}}" class="btn btn-primary btn" role="button">Back</a>
<hr>
<h2>Add new category</h2>
<form action="addCategory" method="POST">
    <input type="text" name="name"></input>
    <input type="submit" value="Add Category"></input>
</form>
{% endblock %}